# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [17]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
jeopardy = pd.read_csv('/Users/shantanusharma/Desktop/Learning/Python/Code-academy Python/Codeacademy projects/Codeacademy-NLP/This is Jeporady Challenge/jeopardy.csv')


jeopardy = jeopardy.rename(columns= {'Show Number': 'show_number', ' Air Date': 'air_date', ' Round': 'round', ' Category': 'category', ' Value' : 'value',
                                    ' Question':'question',' Answer': 'answer'})
print(jeopardy.columns)
print(jeopardy.head())

Index(['show_number', 'air_date', 'round', 'category', 'value', 'question',
       'answer'],
      dtype='object')
   show_number    air_date      round                         category value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                                                                                      question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [19]:
# Trying old school way of list! 
question_list = list(jeopardy.question)

# def find_words(input_list):
#     list_index = []
#     for alpha in question_list:
#         if input_list[0] in alpha and input_list[1] in alpha:
#             list_index.append(question_list.index(str(alpha)))
#     return list_index
    
# list_1 = ["King","England"]
# list_words_index = find_words(list_1)

# filtered_df = jeopardy.loc[list_words_index]
# print(filtered_df[' Question'].head())


def find_words(input_list, question_list):
    matching_indices = []
    
    # Iterate through each question
    for i, question in enumerate(question_list):
        # Check if all words in input_list appear in this question
        all_words_present = True
        for word in input_list:
            if word not in question:
                all_words_present = False
                break
        
        # If all words are present, add this question's index to our results
        if all_words_present:
            matching_indices.append(i)
    
    return matching_indices
    
list_1 = ["King","England"]
list_words_index = find_words(list_1,question_list)

filtered_df = jeopardy.loc[list_words_index]
print(filtered_df.question.count())

print(jeopardy.head())

49
   show_number    air_date      round                         category value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                                                                                      question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [21]:
def filter_by_keywords(df, keywords, column='question'):
    
    # Make a copy to avoid modifying the original
    filtered_df = df.copy()
    
    # Convert column to string type to ensure .str methods work
    filtered_df[column] = filtered_df[column].astype(str)
    
    # Apply filter for each keyword
    for keyword in keywords:
        filtered_df = filtered_df[filtered_df[column].str.contains(keyword, case=False)]
    
    return filtered_df

list_1 = ['King','England']
filter_jeopardy = filter_by_keywords(jeopardy, list_1, column = 'question')
#print(filter_jeopardy.head())

print(jeopardy.head())

   show_number    air_date      round                         category value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                                                                                      question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   While most of the values in the `" Value"` column represent a dollar amount as a string, note that some do not &mdash; these values will need to be handled differently!

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [29]:
jeopardy['float_value'] = pd.to_numeric(
    jeopardy['value'].str.split('$').str[-1].str.replace(',', ''),
    errors='coerce')


print(jeopardy.head())

   show_number    air_date      round                         category value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                                                                                      question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       answer  float_value
0  Copernicus        200.0
1  Jim Thorpe        200.0
2     Arizona        200.0
3  McDonald's        200.0
4  John Adams        200.0

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [37]:
def answer_count(keyword_list):

    filtered_jeopardy = filter_by_keywords(jeopardy, keyword_list, column='question')

    answer_count = filtered_jeopardy.groupby('answer').show_number.nunique().reset_index()

    return answer_count

keyword_list = ['King']

answer_count = answer_count(keyword_list)

print(answer_count.head())

print(answer_count[answer_count['answer'] == 'Henry VIII'])

                                  answer  show_number
0                            The Jungle             1
1                 "(Let there be) light"            1
2                                 "1984"            1
3                          "42nd Street"            1
4  "A Brief History Of Time In A Bottle"            1
          answer  show_number
1543  Henry VIII           55

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [ ]:
# Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
import datetime
keyword_list = ['Computer']
filtered_jeopardy_computer = filter_by_keywords(jeopardy,keyword_list,column='question')

filtered_jeopardy_computer['air_date']= filtered_jeopardy_computer['air_date'].apply(lambda col: datetime.datetime.strptime(col,"%Y-%m-%d"))

filtered_jeopardy_computer['year'] = filtered_jeopardy_computer['air_date'].dt.year 

print(filtered_jeopardy_computer.head()) 

computer_1900 = filtered_jeopardy_computer[(filtered_jeopardy_computer['year'] >= 1990) & (filtered_jeopardy_computer['year'] < 2000)]

print(computer_1900.year.count()) #98

computer_2000 = filtered_jeopardy_computer[(filtered_jeopardy_computer['year'] >= 2000)]

print(computer_2000.year.count()) #327

      show_number   air_date             round                category  value  \
309          5690 2009-05-08         Jeopardy!  OLD FOLKS IN THEIR 30s   $600
342          5690 2009-05-08  Double Jeopardy!          MATHEM-ATTACK!  $1200
1106         4085 2002-05-10  Double Jeopardy!      "EN" THE BEGINNING   $800
1430         4960 2006-03-17         Jeopardy!   RECORD LOSSES IN 2005   $200
2410         3214 1998-07-16         Jeopardy!  PRE-COLUMBIAN CULTURES   $500

                                                                                                                                                                                                                                                                                                                                                 question  \
309                                                                                                                                                                                                                                                            Linus Torvalds is the father of this operating system used on cell phones & supercomputers
342   (<a href="http://www.j-archive.com/media/2009-05-08_DJ_28.jpg" target="_blank">Kelly of the Clue Crew shows an array of numbers enclosed in brackets on the monitor.</a>)  A set of numbers in rows and columns can be used in many ways--for example, to encrypt a code or create 3-D computer graphics; the set shares this name with a 1999 film
1106                                                                                                                                                                                                                                                                             2-word term for the consumer, for whom a computer is ultimately designed
1430                                                                                                                                                                                                                                               A computer with 98,000 names & SSNs was reported stolen from this oldest campus of the Univ. of Calif.
2410                                                                                                                                                                                                                                                               Warriors of this Yucatan civilization battle in the computer-enhanced mural seen here:

           answer  float_value  year
309         Linux        600.0  2009
342      a matrix       1200.0  2009
1106  an end user        800.0  2002
1430     Berkeley        200.0  2006
2410       Mayans        500.0  1998
98
327

In [ ]:
#Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?



double_jeopardy_round = (jeopardy[jeopardy['round'] == 'Double Jeopardy!'])
single_jeopardy_round = jeopardy[jeopardy['round'] == 'Single Jeopardy!']

dj_list = list(double_jeopardy_round.category)
sj_list = list(single_jeopardy_round.category)

ValueError: All arrays must be of the same length

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.